<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"/>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"/>
    <title>页脚</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="navbar navbar-inverse navbar-fixed-bottom" style="text-align:center;">
        <address>
            <strong>常乐, Inc.</strong><br/>
            中国 福建省 厦门市 思明区 厦大学生公寓<br/>
            <abbr title="Phone">P:</abbr> 18120779801<br/>
            <p class="">Welcome to <a href="mailto:634692344@qq.com">changle.com</a></p>
        </address>
    </footer>
</div>
</body>
</html>